

@import "mixins";
/*
	Example Styling for Navigation Scroll-lock
*/
html {
	font-family: Sans-Serif;
	font-size: 100%;
	height: 100%;
}
body {
	_height:100%;
	background: Silver;
	line-height: 180%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	* {
		box-sizing: border-box;
	}
}
section {
	background: #fff;
	position: relative;
	.column {
		max-width: 960px;
		position: relative;
		margin: 0 auto;
	}
	header {
		@include rem('height', 6);
		@include rems('padding', 1, 1, 1, 1);
		@include rems('margin', 0, 0, 3, 0);
		background: $color-disabled;
		color: #fff;
	}
	nav {
		@include rem('top', 6);
		@include rem('height', 3);
		@include rem('line-height', 3);
		@include rems('padding', 0, 1, 0, 1);
		box-shadow: 0 1px 3px #999;
		background-color: $color-passive;
		color: #fff;
		display: block;
		position: absolute;
		width: 100%;
		.notification {
			float: right;
			opacity: 0;
			transition: opacity ease 500ms;
			&.revealed {
				opacity: 1;
			}
		}
		a {
			@include rem('height', 3);
			@include rem('line-height', 3);
			@include rems('padding', 0, 1, 0, 1);
			transition: background-color ease 500ms;
			color: #fff;
			display: inline-block;
			text-decoration : none;
			&.nav-active {
				background-color: $color-active;
			}
		}
		&.nav-fixed {
			position: fixed;
			top: 0;
			z-index: 10;
		}
	}
	article {
		@include rems('padding', 1, 1, 1, 1);
		background: #fff;
		figure {
			background-color: Red;
			box-sizing: border-box;
			color: #fff;
			float: right;
			width: 280px;
			height: 280px;
			padding: 20px;
			margin: 0 0 20px 20px;
			font-size: 32px;
		}
		.stage-0, .stage-1, .stage-2 {
			opacity: 0;
			transition: opacity ease 500ms;
			&.revealed {
				opacity: 1;
			}
		}
		&:nth-child(2n) {
			background-color: #eeeeee;
		}
	}
	footer {
		@include rem('height', 6);
		@include rems('padding', 1, 1, 1, 1);
		background: $color-disabled;
		color: #fff;
	}
}
